@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343a40;
    /* Fondo oscuro */
    color: #ffffff;
    /* Texto blanco */
    padding: 10px 30px;
    /* Padding para el contenido */
    border-radius: 8px;
    /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.logoText {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    font-family: "Chewy", system-ui;
    font-style: normal;
    color: #FDB94A;
}

.logo {
    height: 50px;
    padding: 0;
    margin: 0;
}

.menu {
    position: relative;
}

.material-symbols-outlined {
    cursor: pointer;
    font-size: 24px;
}

.dropdown {
    width: 150px;
    display: none;
    position: absolute;
    right: 0;
    top: 158%;
    background-color: #666565;
    color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000;
}

.dropdown a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000000;
    text-align: center;
}

.dropdown a:hover {
    background-color: #f1f1f1;
}

.dropdown.show {
    display: block;
}