.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343a40;
    /* Fondo oscuro */
    color: #ffffff;
    /* Texto blanco */
    padding: 15px 30px;
    /* Padding para el contenido */
    border-radius: 8px;
    /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra para darle profundidad */
    margin-bottom: 20px;
    /* Espacio inferior */
}

.header h1 {
    margin: 0;
    /* Elimina el margen predeterminado */
    font-size: 24px;
    /* Tamaño de fuente */
    font-weight: 700;
    /* Grosor de la fuente */
}

.menu {
    position: relative;
}

.material-symbols-outlined {
    cursor: pointer;
    font-size: 24px;
}

.dropdown {
    width: 150px;
    display: none;
    position: absolute;
    right: 0;
    top: 158%;
    background-color: #666565;
    color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000;
}

.dropdown a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000000;
    text-align: center;
}

.dropdown a:hover {
    background-color: #f1f1f1;
}

.dropdown.show {
    display: block;
}