<div class="header">
    <div class="logoText">
        <img class="logo" src="../../../public/assets/3-removebg-preview.png" alt="">
        <h1>MovieFinder</h1>
    </div>


    <div class="menu">
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=menu" />
        <span class="material-symbols-outlined" (click)="toggleMenu()">
            menu
        </span>

        <div class="dropdown" [class.show]="menuOpen">
            <!-- home -->
            <a href="/dashboard" (click)="navigateTo('/dashboard')">
                Inicio
            </a>
            <!-- about -->
            <a href="/about" (click)="navigateTo('/about')">
                Nosotros
            </a>
            <a href="#" (click)="logout()">
                Salir
            </a>

        </div>
    </div>
</div>