<body>
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="content">
        <!-- banner -->
        <div class="banner-left">
        </div>
        <div class="about">
            <h1>Acerca de</h1>
            <p>
                Esta aplicación de búsqueda de películas forma parte de mi portafolio personal y ha sido desarrollada
                como
                parte
                de mi formación en Angular 19. El objetivo principal de este proyecto es consolidar mis conocimientos en
                el
                framework, aplicando conceptos clave como la creación de componentes reutilizables, manejo de servicios,
                enrutamiento y consumo de APIs externas.
            </p>
            <p>
                La aplicación permite buscar películas por título y visualizar información detallada de cada una de
                ellas.
                La
                información es obtenida de la API de <a href="https://www.themoviedb.org/">The Movie Database</a>.
            </p>
            <p>
                Si tienes alguna sugerencia o comentario, no dudes en contactarme a través
                de:
            </p>
            <div class="icons">
                <a href="https://www.linkedin.com/in/vincenzo2202/"><img
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/900px-LinkedIn_logo_initials.png?20140125013055"
                        alt="linkedIn"></a>

                <a href="https://github.com/vincenzo2202">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/2048px-Octicons-mark-github.svg.png"
                        alt="github">
                </a>
            </div>
        </div>
        <div class="banner-right">
        </div>
    </div>
</body>