/* Estilos para el contenedor principal */
:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #180F21;
    margin: -1em;
    padding: 1em;
    color: #ffffff;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.buscador {
    background-color: #352a41;
    padding: 20px;
    /* padding-top: 0; */
    height: 20px;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.rated {
    color: #ffffff;
    margin: auto;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 20px 0;
    list-style-type: none;
    color: #000000;
}

.cardList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.card {
    width: 200px;
    height: 340px;
    background-color: #f8f9fa;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* padding: 15px; */
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    height: 250px;
    border-radius: 5px;
    margin-bottom: 10px;
    object-fit: cover;
}

.card strong {
    font-size: 18px;
    /* margin-bottom: 5px; */
    margin: 15px 0 0 8px;
}

.card p {
    margin: 0;
    color: #666;
}

.cardList p {
    margin: 3px 0 0 8px;
    color: #666;
}

.average {
    display: flex;
    position: absolute;
    height: 30px;
    width: 30px;
    padding: 3px;
    align-items: center;
    justify-content: center;
    background-color: #081C22;
    border-radius: 50%;
    color: #ffffff;
    font-size: 18px;
    margin: 230px 0 0 15px;
    border: #fce40f 2px solid;
}

.pagination {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
}

.pagination button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
    background-color: #0056b3;
}