<div class="header">
    <app-header></app-header>
</div>
<div class="carousel">
    <app-carousel></app-carousel>
</div>
<div class="content">
    <div class="buscador">
        <div class="search-bar">
            <input type="text" [(ngModel)]="searchQuery" (ngModelChange)="onSearchQueryChange($event)"
                placeholder="Buscar una película, serie..." />
            <button (click)="searchMoviesOnClick()">Buscar</button>
        </div>
    </div>
    <!-- pagination buttons -->
    <div class="list" *ngIf="movies.length > 0">
        <div class="pagination">
            <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
            <button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
        </div>
        <ul class="cardList" *ngIf="default.length > 0">
            <li *ngFor="let movie of movies" class="card">
                <img [src]="movie.poster_path ? getImage(movie.poster_path) : '../../public/assets/image-not-available.png'"
                    alt="{{ movie.original_title }}" />

                <strong>
                    {{ truncateTitle(movie.original_name || movie.original_title) }}
                </strong>

                <p>{{ formatDate(movie) | date:'dd MMM yyyy' }}</p>

                <div class="average">
                    <ng-container *ngIf="movie.vote_average !== null && movie.vote_average !== undefined; else noVote">
                        {{ movie.vote_average | number:'1.1-1' }}
                    </ng-container>
                    <ng-template #noVote>
                        <link rel="stylesheet"
                            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=stars" />
                        <span class="material-symbols-outlined">
                            stars
                        </span>
                    </ng-template>
                </div>

            </li>
        </ul>
    </div>
    <div *ngIf="movies.length === 0 && searchQuery && searchQuery.trim() !== ''">
        <p>No se encontraron resultados para "{{ searchQuery }}"</p>
    </div>

    <!-- peliculas por defecto -->
    <div class="list" *ngIf="movies.length === 0">
        <h1 class="rated">La más vistas del momento</h1>
        <ul class="cardList" *ngIf="default.length > 0">
            <li *ngFor="let movie of default" class="card">
                <img [src]="movie.poster_path ? getImage(movie.poster_path) : '../../public/assets/image-not-available.png'"
                    alt="{{ movie.original_title }}" />

                <strong>
                    {{ truncateTitle(movie.original_name || movie.original_title) }}
                </strong>

                <p>{{ formatDate(movie) | date:'dd MMM yyyy' }}</p>

                <div class="average">
                    <ng-container *ngIf="movie.vote_average !== null && movie.vote_average !== undefined; else noVote">
                        {{ movie.vote_average | number:'1.1-1' }}
                    </ng-container>
                    <ng-template #noVote>
                        <link rel="stylesheet"
                            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=stars" />
                        <span class="material-symbols-outlined">
                            stars
                        </span>
                    </ng-template>
                </div>


            </li>
        </ul>
    </div>
</div>